.btn {
  display: flex;
  justify-content: center;
  padding: 11px;

  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: $lightgreen;
}

@media (min-width: $tablet-width) {
  .btn {
    padding: 11px 27px;
  }
}

@media (min-width: $desktop-width) {
  .btn {
    padding: 10px;
  }
}
