.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item {
  padding: 25px 20px 22px 20px;

  background-color: $lightgray;

  &:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

.categories__title {
  margin: 5px 0 29px 70px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.categories__text {
  margin: 0;
  padding: 0 5px 22px 0;

  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text;

  border-bottom: 1px solid $darkgray;
}

.categories__link {
  display: block;
  margin: 17px 0 0 0;

  text-transform: uppercase;
  color: $lightblack;
}

.categories__arrow {
  display: inline-block;
  width: 24px;
  height: 11px;
  margin: 0 0 0 12px;

  background-image: url("../../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .categories__item {
    padding: 77px 280px 60px 55px;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }

    &--slim {
      padding-right: 312px;
    }
  }

  .categories__title {
    margin: 0 0 22px 0;
    font-size: 36px;
  }

  .categories__text {
    margin: 0 0 60px 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__item {
    flex-basis: 46.72%;
    width: 46.72%;
    padding: 77px 52px 61px;

    &:not(:last-child) {
      margin: 0;
    }
  }

  .categories__title {
    margin: 0 0 75px 0;
    padding: 0 0 0 164px;
  }

  .categories__text {
    margin: 0 0 30px 0;
  }
}
