.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item {
  position: relative;
  padding: 25px 20px 22px 20px;

  background-color: $lightgray;

  &:not(:last-child) {
    margin: 0 0 20px 0;
  }

  &::before {
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;

    content: "";
    border-radius: 50%;
    background-color: $lightgreen;
  }

  &::after {
    position: absolute;
    top: 22px;
    left: 30px;
    width: 35px;
    height: 50px;

    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--slim {
    &::after {
      top: 35px;
      left: 13px;
      width: 67px;
      height: 28px;

      background-image: url("../img/icon-cat-pro.svg");
    }
  }
}

.categories__title {
  position: relative;
  margin: 5px 0 29px 70px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.categories__text {
  margin: 0;
  padding: 0 5px 22px 0;

  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text;

  border-bottom: 1px solid $darkgray;
}

.categories__link {
  display: inline-block;
  margin: 17px auto 0 0;

  text-transform: uppercase;
  color: $lightblack;

  &:hover .categories__arrow {
    width: 33px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.3;
  }
}

.categories__arrow {
  display: inline-block;
  width: 24px;
  height: 11px;
  margin: 0 0 0 12px;

  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .categories__item {
    padding: 77px 39% 60px 55px;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }

    &::before {
      left: auto;
      top: 24%;
      right: 9%;

      width: 200px;
      height: 200px;
    }

    &::after {
      left: auto;
      top: 21%;
      right: 13%;

      width: 140px;
      height: 194px;
    }

    &--slim {
      padding-right: 44%;

      &::before {
        right: 8.5%;
      }

      &::after {
        left: auto;
        top: 36%;
        right: 4%;

        width: 268px;
        height: 112px;
      }
    }
  }

  .categories__title {
    margin: 0 0 22px 0;
    font-size: 36px;
  }

  .categories__text {
    margin: 0 0 42px 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__item {
    flex-basis: 46.72%;
    width: 46.72%;
    padding: 77px 52px 61px;

    &:not(:last-child) {
      margin: 0;
    }

    &::before {
      right: auto;
      top: 47px;
      left: 52px;
      transform: translateY(auto);

      width: 100px;
      height: 100px;
    }

    &::after {
      right: auto;
      left: 65px;
      top: 40px;

      width: 100px;
      height: 100px;
    }

    &--slim {
      &::after {
        right: auto;
        left: 35px;
        top: 70px;

        width: 134px;
        height: 56px;
      }
    }
  }

  .categories__title {
    margin: 0 0 75px 0;
    padding: 0 0 0 164px;
  }

  .categories__text {
    margin: 0 0 12px 0;
  }
}
