.contacts {
  display: flex;
  padding: 27px 20px;

  &--gray {
    background-color: $lightgray;
  }
}

.contacts__offer {
  width: 50%;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__addres {
  width: 50%;
  margin: 0;

  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $text;
}

@media (min-width: $tablet-width) {
  .contacts {
    justify-content: space-between;
    padding: 65px 72px 57px 72px;
  }

  .contacts__offer {
    max-width: 190px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__addres {
    max-width: 190px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__sity {
    display: inline-block;
    margin-top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 570px;
    padding: 65px 72px 57px 75px;

    background-color: #ffffff;
    z-index: 1;
  }

  .contacts__addres {
    padding: 0 0 0 17px;
    text-align: left;
  }
}
