.example__wrapper {
  height: 705px;
  display: flex;
  flex-direction: column;

  background-color: $lightgray;
}

.example__column {
  display: flex;
  flex-direction: column;
}

.example__title {
  margin: 19px 10px 0 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.example__text {
  margin: 23px 10px 0 0;

  font-family: "Arial", "Arial-narrow", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text;
}

.example__result {
  margin: 23px auto 33px;
}

.exemple__slider-wrapper {
  margin: 0 -20px;
}

.example__slider {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 620px, $lightgray 620px, $lightgray 100%);
  }

  .example__wrapper {
    height: 1082px;
    border-top: 1px solid #e6e6e6;
    background: transparent;
  }

  .example__title {
    margin: 0;
    padding: 47px 0 40px 0;
    font-size: 60px;
  }

  .example__text {
    margin-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__result {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 189px, $lightgray 189px, $lightgray 100%);
  }

  .example__wrapper {
    height: auto;
    flex-direction: row;
  }

  .example__title {
    padding-top: 53px;
    padding-bottom: 76px;
  }

  .example__text {
    max-width: 438px;
    margin: 70px 0 68px 0;
  }
}
