.extra-products__title {
  position: relative;

  display: block;
  margin: 0;
  padding: 28px 0 34px;

  font-family: "Oswald", "Arial-narrow", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  border-bottom: 1px solid #cdcdcd;

  &::after {
    position: absolute;
    top: 50%;
    right: -20px;

    width: 19%;
    height: 3px;

    content: "";
    background-color: $lightgreen;
  }
}

.extra-products__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.extra-products__item {
  padding: 0 0 17px 0;
  border-bottom: 1px solid #cdcdcd;
}

.extra-products__subtitle {
  margin: 13px 0;

  font-family: "Oswald", "Arial-narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.extra-products__table {
  width: 100%;
  margin: 0 0 15px 0;

  border-collapse: collapse;
}

.extra-products__property,
.extra-products__value {
  padding: 0;

  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $text;
}

.extra-products__info-row {
  display: flex;
}

.extra-products__value {
  margin: 0 0 0 auto;
}

.extra-products__present {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 289px;
  margin: 39px 0 35px 0;

  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $lightgreen;

  &::before {
    position: relative;

    display: block;
    width: 55px;
    height: 60px;
    margin: 65px auto 0;

    content: "";

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.extra-products__present-text {
  width: 170px;
  margin: 62px auto 40px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .extra-products__item {
    padding: 25px 37px 28px 38px;
    border: 1px solid #cdcdcd;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .extra-products__title {
    display: inline-block;
    padding: 63px 37px 80px;

    font-size: 36px;
    line-height: 36px;

    background-color: #ffffff;
    border: none;

    &::before {
      position: absolute;
      top: 47.5%;
      right: 0;
      z-index: -1;

      width: 100vw;
      height: 3px;

      content: "";
      background-color: $lightgreen;
    }

    &::after {
      top: 47.5%;
      left: 0;
      z-index: -1;

      width: 100vw;
    }
  }

  .extra-products__subtitle {
    display: inline-block;
    width: 45%;
    margin: 0 0 25px 0;

    font-size: 20px;
    line-height: 20px;
  }

  .extra-products__table {
    float: right;
    width: auto;
    margin: 5px 0 0 0;
  }

  .extra-products__property {
    margin: 0 0 0 auto;

    font-size: 16px;
    line-height: 20px;
  }

  .extra-products__value {
    margin: 0 auto 0 53px;

    font-size: 16px;
    line-height: 20px;
  }

  .extra-products__present {
    flex-direction: row;
    min-height: 200px;
    margin: 69px 0 76px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    &::before {
      margin: auto 0 auto 90px;
    }
  }

  .extra-products__present-text {
    margin: auto 0 auto 39%;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .extra-products__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .extra-products__item {
    display: flex;
    align-items: center;
    padding: 15px 0 16px 0;

    border-left: none;
    border-right: none;
  }

  .extra-products__subtitle {
    width: 250px;
    margin: 0;
  }

  .extra-products__table {
    width: 286px;
    margin: 5px 38px 0 75px;
  }

  .extra-products__value {
    margin: 0 0 0 auto;
  }

  .extra-products__property {
    margin: 0 auto 0 0;
  }

  .extra-products__link {
    width: 245px;
    margin: 0 0 0 auto;
  }

  .extra-products__present {
    flex-direction: column;

    width: 245px;
    min-height: 289px;
    margin: 0;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    &::before {
      margin: 65px auto 63px;
    }
  }

  .extra-products__present-text {
    margin: 0 auto;
    text-align: center;
  }

  .extra-products__title {
    margin: 0 -39px;
    padding: 75px 39px 80px;

    &::before,
    &::after {
      top: 51%;
    }
  }
}
