.form-wrapper__form-title {
  margin: 16px 0;
}

.form-wrapper__form-text {
  margin: 23px 0 0 0;
}

@media (min-width: $tablet-width) {
  .form-wrapper__form-title {
    margin: 55px 0;
    font-size: 60px;
  }

  .form-wrapper__form-text {
    width: 50%;
    margin: 0 0 52px 40px;

    font-size: 20px;
    line-height: 30px;
  }
}
