.form-text {
  margin: 0;
  padding: 0 20px 0 0;

  font-family: "Oswald", "Arial-narrow", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
}
