.form-comments {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 13px 0 0 0;

  border: none;
}

.form-comments__title {
  align-self: flex-start;
  margin: 0 138px 35px 0;
  padding: 0 15px 0 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;

  &::after {
    position: absolute;
    top: 27px;
    right: -20px;
    z-index: -1;

    flex-grow: 0;
    width: 90vw;
    height: 3px;

    content: "";

    background-color: $lightgreen;
  }
}

.form-comments__textarea {
  width: 100%;
  min-height: 150px;
  margin: 0 0 4px 0;
  padding: 12px 12px 12px 15px;

  border: 1px solid #cdcdcd;

  &::placeholder {
    text-transform: uppercase;
    color: $text;
  }
}

@media (min-width: $tablet-width) {
  .form-comments__title {
    margin: 0 138px 76px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .form-comments__textarea {
    min-height: 174px;
    padding: 10px 20px;

    font-size: 20px;
    line-height: 30px;
  }
}
