.form-advice {
  display: flex;
  flex-direction: column;
  padding: 19px 20px 10px 20px;

  border: 1px solid $lightgray;
}

.form-advice label {
  position: relative;
  margin-bottom: 8px;
  padding: 8px 0 8px 46px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;
    width: 30px;
    height: 30px;

    content: "";

    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      border: 1px solid #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.3;
  }
}


.form-advice input {
  &:checked + label {
    &::after {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translate(-50%, -50%);

      display: block;
      width: 12px;
      height: 12px;

      content: "";

      background-color: $lightgreen;
      border-radius: 50%;
    }
  }

  &:active + label {
    opacity: 0.3;
  }

  &:focus + label {
    outline: 1px solid rgba(205, 205, 205, 0.5);
  }
}

@media (min-width: $tablet-width) {
  .form-advice {
    padding: 23px 27px 12px 27px;
    border: 1px solid #e6e6e6;
  }

  .form-advice label {
    margin-bottom: 13px;
    padding: 10px 0 10px 60px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      left: 0;

      width: 40px;
      height: 40px;
    }
  }

  .form-advice input:checked + label {
    &::after {
      left: 20px;

      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-advice {
    width: 46.5%;
  }
}
