.logo-footer {
  display: block;
  padding: 39px 0 31px 0;

  text-align: center;

  border-bottom: 1px solid $darkgray;
}

@media (min-width: $tablet-width) {
  .logo-footer {
    text-align: left;
    padding: 35px 0 30px;
    border: none;
  }
}
