.map {
  position: relative;
  width: 100%;
  min-height: 362px;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 62px;
    height: 53px;

    content: "";
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.map__img {
  display: block;
  width: 100%;
  height: 100%;
  margin: -38px 0 0 0;
}

.map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
  height: 100%;

  border: none;
}

@media (min-width: $tablet-width) {
  .map {
    height: 396px;

    &::after {
      top: 50%;
      width: 124px;
      height: 106px;
    }
  }

  .map__img {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .map {
    &::after {
      left: auto;
      right: 23.5%;
      width: 113px;
    }
  }
}
