.offer {
  min-height: 480px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.offer__img-wrapper {
  min-height: 305px;
  background: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% top;
  background-color: #63a73a;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.offer__title {
  margin: 27px 0 23px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.offer__slogan {
  margin: 0 0 163px 0;
  text-transform: uppercase;
  text-align: center;
}

.offer__img {
  display: block;
  width: 280px;
  height: 271px;
  margin: -140px auto 4px auto;
}

.offer__link {
  margin: 0 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .offer {
    position: relative;
  }

  .offer__img-wrapper {
    background: transparent;
  }

  .offer__title {
    width: 79%;
    margin: 60px 0 45px 0;
    padding: 0 0 0 90px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $lightblack;
  }

  .offer__slogan {
    margin: 0 0 155px 0;
    padding: 0 0 0 90px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $lightblack;
  }

  .offer__img {
    width: 709px;
    height: 609px;
  }

  .offer__link {
    position: absolute;
    bottom: 525px;

    display: inline-block;
    margin: 0 30px 0 120px;
    padding: 16px 27px;

    font-size: 20px;
    line-height: 20px;
  }
}
