.offer {
  min-height: 480px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.offer__text-wrapper {
  min-height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% top;
  background-color: #63a73a;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.offer__title {
  margin: 27px 0 23px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.offer__slogan {
  margin: 0 0 163px 0;
  text-transform: uppercase;
  text-align: center;
}

.offer__img {
  display: block;
  width: 280px;
  height: 271px;
  margin: -140px auto 4px auto;
}

.offer__link {
  margin: 0 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .offer {
    position: relative;
    min-height: 608px;
    padding: 59px 0 0 120px;
  }

  .offer__text-wrapper {
    min-height: auto;

    background: transparent;
    border: none;
  }

  .offer__title {
    width: 79%;
    margin: 0 0 40px 0;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $lightblack;
  }

  .offer__slogan {
    margin: 0 5% 49px 0;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $lightblack;
  }

  .offer__img {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 709px;
    height: 609px;
    margin: 0 auto 0 auto;

    z-index: -1;
  }

  .offer__link {
    display: inline-block;
    margin: 0 0 530px 0;
    padding: 16px 27px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .offer {
    max-width: 1300px;
    padding-top: 57px;
  }

  .offer__title {
    width: 40%;
  }

  .offer__slogan {
    width: 40%;
    margin-bottom: 53px;
  }

  .offer__link {
    margin-bottom: 266px;
  }

  .offer__img {
    top: 0;
    left: 40%;

    width: 552px;
    height: 499px;
    margin: -20px 0 0 0;
  }
}
