.page-footer {
  background-color: $lightgray;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 30px 0;
  }

  .page-footer__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin: 0 -30px;
  }

  .page-footer__column {
    flex-basis: 33.3%;
    max-width: 33.3%;

    padding: 0 30px;
  }
}
