.page-header {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__nav {
  padding: 12px 0 0 0;
}

.page-header__toggle-menu {
  position: absolute;
  top: 20px;
  right: 20px;
}
