.page-footer {
  display: flex;
  flex-direction: column;

  background-color: $lightgray;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
