.page-main__offer {
  margin: 0 0 22px 0;
}

.page-main__categories {
  margin: 0 0 17px 0;
}

@media (min-width: $tablet-width) {
  .page-main__categories {
    margin: 0 auto 45px auto;
  }

  .page-main__offer {
    margin: 0 auto;
  }

  .page-main--form {
    padding: 55px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__categories {
    margin-bottom: 75px;
  }

  .page-main__advantages {
    margin: 0 auto;
  }

  .page-main--form {
    padding: 22px 0 0 0;
  }
}
