.result {
  display: flex;
  flex-direction: column;

  border-collapse: separate;
  border-spacing: 32px 0;

  overflow: hidden;
}

.result__subtitle {
  order: 1;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.result__tbody {
  margin: 0 -32px 20px -32px;
}

.result__total {
  width: 123px;
  padding: 15px 0;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.result__text-col {
  position: relative;
}

.result__text {
  position: relative;

  display: flex;
  justify-content: center;
  width: 87px;
  margin: -10px auto 0;
  padding: 0 3px;

  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  color: $text;

  background-color: $lightgray;
}

@media (min-width: $tablet-width) {
  .result {
    flex-direction: row;
    justify-content: space-between;

    border-spacing: 42px 0;
  }

  .result__text {
    top: -15px;
    left: 50%;
    transform: translateX(-50%);

    display: inline-block;
    width: auto;
    max-width: 164px;
    padding: 0 10px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }

  .result__subtitle {
    max-width: 185px;
    padding: 7px 0 0 0;

    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }

  .result__total {
    width: 162px;
    padding: 16px 0;

    font-size: 30px;
    line-height: 37px;
  }

  .result__tbody {
    margin: 0 -42px;
  }
}

@media (min-width: $desktop-width) {
  .result {
    flex-direction: column;
  }

  .result__text {
    background-color: $lightgray;
  }

  .result__subtitle {
    display: flex;
    max-width: 327px;
    margin: 0 0 69px 0;
    padding: 38px 0 0 0;
  }

  .result__price {
    display: inline-block;
    margin-left: auto;
  }
}
