.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0;
  padding: 20px 0;

  border-bottom: 1px solid $darkgray;
  list-style: none;
}

.social__item {
  margin: 0 18px;

  &--indent {
    margin: 0 24px;
  }
}

.social__item--facebook {
  margin: 0 23px;
}

.social__link {
  display: inline-block;
  vertical-align: middle;

  &:hover .social__icon {
    fill: $lightgreen;
  }

  &:active .social__icon {
    fill: $lightgreen;
    opacity: 0.3;
  }
}

.social__icon {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 30px 0;
    border: none;
  }

  .social__item {
    margin: 0 12px;

    &--indent {
      margin: 0 22px;
    }
  }

  .social__icon {
    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }
}
