html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial-narrow", sans-serif;
  font-weight: 400;
  color: $lightblack;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input::placeholder {
  color: #444444;
}

input[type="text"]:invalid:focus,
input[type="email"]:invalid:focus,
input[type="tel"]:invalid:focus {
  outline: 2px solid $error;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
